$background-color: #eadede;
#thong-tin-ung-vien{
    position: relative;
    width: 100vw;
    height: auto;
    background-color: $background-color;

    main{
        width: calc(100% - 280px);
        margin-left: 256px;
        margin-top: -60px;

        section{
            padding: auto 20px;
        }
    }
}