#process-evalution-page{
    .ant-collapse-item.ant-collapse-item-active{
        .ant-collapse-header{
            background-color: #3dabd0;
            color: white;
        }
    }

    #evalution-details{
        border: 1px solid #DADADA;
        margin-bottom: 15px;
    }
}