button#btn-dang-ky{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    background: white;
    border: 2px solid #3dabd0;
    background-color: white;
    transition: 0.5s;
    
}   

#btn-dang-ky:hover{
    background-color: #3dabd0;
    color: white;
}

button#btn-dang-nhap{
    border: none !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    background: white;
    margin-right: 15px;
    i{
        vertical-align: 0px !important;
        margin-right: 5px;
    }
}