footer {
    background-color: #3dabd0;
    font-family: 'Roboto', sans-serif;
    padding: 25px 40px 40px 40px !important;

    section{
        margin-top: 15px;
        .link-footer {
            h4{
                color: white;
            }
    
            a{
                color: white;
                line-height: 2;
            }
        }
    }


}