#ung-vien-nav{
    width: 250px;
    display: block;
    height: 90vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    overflow-y: auto;
    z-index: 1;


    #ung-vien-avatar{
        text-align: center;
        padding-top: 30px;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        #ung-vien-ten{
            font-size: 1em;
            margin-top: 10px;
        }

        #ung-vien-cap-bac{
            margin-top: 10px;
            font-size: 14px;
        }
    }

    .nav-links-custom{
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 720px){
    #ung-vien-nav{
        display: none;
    }
}