
#thong-tin-header{
    height: 40vh;
    background-image: linear-gradient(#2a3956, #4267B2);
    position: relative;
    width: 100vw;

    #left{
        width: 200px;
        display: inline-block;
    }

    #right{
        width: calc(100% - 250px);
        display: inline-block;

        .search{
            margin: 10px auto;

            #menu, #job{
                :hover{
                    cursor: pointer;
                }
            }

            #search-input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;

                
                ::placeholder{
                    color: white;
                    opacity: 1;
                }
            }
        }

        section.quote{
            text-align: center;
            color: white;
            margin-left: 15px;

    
            h2{
                color: white;
            }
    
            blockquote{
                display: inline-block;
                text-align: center;
                width: 100%;
                max-width: 400px;
            }
        }
    }


}