#contact-form{
    font-family: 'Roboto', sans-serif;
    color: white;
    max-width: 500px;
    width: 100%;
    text-align: left;
    display: inline-block;
    h4{
        color: white;
    }

    .ant-row.ant-form-item{
        margin-bottom: 5px !important;
    }

    #contact-form_email, #contact-form_content{
        background-color: transparent !important;
        color: white !important;
    }

    .ant-form-explain{
        color: white;
        font-size: 11px;
    }
}